{% extends "::base.html.twig" %}

{% block title %}Prepajob - Liste des offres{% endblock %}

{% block body %}
    <h1 class="col-lg-12 col-md-12 col-sm-12 col-xs-12">Offres : </h1>

    <div>
        <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Lead Dev</p>
        <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Javasoft</p>
        <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">CDI</p>
        <p class="col-lg-6 col-md-6 col-sm-6 col-xs-6">Paris</p>
        <ul class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">PHP</li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">JAVA</li>
            <li class="col-lg-4 col-md-4 col-sm-4 col-xs-4">JS</li>
        </ul>
    </div>

{% endblock %}
